body {
   
    margin: auto;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: black;
}

a {
	outline: none;
	text-decoration: none;
}

p{
	outline: none;
}

nav{
	background-color: rgb(0, 105, 217); !important;
	
	position: static;
	top: 0;
	/*border-bottom: solid 3px rgb(0, 123, 255);
	border-top: solid 3px rgb(0, 123, 255);*/
	}

.navbar-dark .navbar-nav .nav-link{
	color: white !important;
	font-weight: bold; 	
}

.navbar-dark .navbar-nav .nav-link:hover{
	color: rgb(0, 123, 255) !important;
}

.navbar-brand {
	color: aliceblue !important;
	text-shadow: 1px 1.75px black;
	font-weight: bold;

}

.col-sm-1 {
	width:10%;
	display: inline;
}

#hero-section .hero-image{
    background: url('/holo-keys.jpg');
    background-repeat: repeat;
   background-position: 50% 50%;
    background-size: 100%;
   
    height: 515px;	
    width: 100%;
    position: relative;
    top: 0.00em;
}

#hero-section .hero-image-2 {
	background: url('cmatrix_red.gif');
	background-repeat: no-repeat;
	background-size: 150%;
	height: 575px;
	width: 100%;
	position:  absolute;
	top:0.00em;
	float:right;
	display: inline;
	opacity: 10;
	left: -15.00em;
}

#hero-section h3{
	color: white;

	font-size: 3.00em;
	position: relative;
	top: 2.00em;

}

#hero-section button{
	position: relative;
	top: 5.00em;
}

#hero-section {
	text-align: center;
}

nav .navbar-dark{
	background-color: black; !important;

}
nav.navbar-dark a:hover{
	color: rgb(0, 123, 255) !important;
}

nav.navbar-dark a.nav-link:active {
	color: rgb(0, 123, 255) !important;
}

#home .jumbotron-fluid h1{
	
	text-shadow: 0px 5px 5px darkgray;
}


#services {
/*	background: rgb(0, 105, 217);*/
   margin-top: -2.00em;
}

#services .col-lg-9{
	display: inline-block;
	margin-left: 3.00em;
	
}

#services .col-lg-9 .col-sm-1 {
	margin-left: 0.00em;
}

#services .col-lg-9 .col-sm-1 img{
	margin: 1.00em;
}

.section-title {
	width: 100%;
	height: 100px;
	background-color: rgb(0, 105, 217);
	text-align: center;
	border-bottom: 3px solid black;
}

.section-title h1{
	color: white;
    font-weight: bold;

	font-size: 2.50em;
	margin-left: 1.00em;
	padding-top: 0.50em;
	text-shadow: 4px 1px black;
	
}

#services .jumbotron h1{
	font-size: 4.00em;
	margin-top: -1.00em;
	font-style: italic;
}

#services .full-stack-web-applications{
	height: 100px;
	/* background-color:rgb(40, 167, 69); */
	background-color: darkorange;
	color: white;
	width: 100%;
	text-align: center;
	text-shadow: 1px 3px black;
/*	border-top: solid 3px black;
	border-bottom: solid 3px black;*/
	


}

#services .full-stack-web-applications h1{
	font-weight: bolder;
	font-size: 1.75sem;
	padding-top: 0.75em;
	padding-bottom: 0.25em;
	margin-left: 2.00em;
	font-style: italic;

	
}

#services .jumbotron-1{
	/*background-color: lightblue;*/
	/*background-color: rgb(0, 105, 217);*/
	/*background-color: rgb(0, 105, 217) !important;*/

	width:100%;
	/*height: 250px;*/
	position: relative; 
	margin-top: 0.00em;
	line-height: 1.75em;


	/*top: -2.50em;*/
/*	text-align: center;*/
}

#services .card .card-title{
	
	position: relative; 
    font-size: 2.00em;
	padding-left:1.00em;
	color: white;
    font-weight: bold;
    text-align: center;

	
}

#services .jumbotron-1 .card-body {
	display: flex;
	flex-direction: column;
	

}

#services .jumbotron-1 .card-header h1{
	/*background-color: rgb(0, 105, 217);*/
	color: black;
	

}

#services .jumbotron-2 .h1{
	color: white;
}






.jumbotron-2 h1{
	
	padding-left:1.00em;
	
	color: white;
	text-align: center;
	padding-top: 0.50em;
	/*text-shadow: 3px 1px 0px black;*/
	font-weight: bolder;

}

.jumbotron-2 ul.full-stack-list-2{
	
	list-style-type: none;
	color: black;
	font-weight: bolder;
	text-align: left;

}

.jumbotron-3 ul.full-stack-list-2{
	list-style-type: none;
	text-align: left;

}

.jumbotron-fluid ul.full-stack-list-2 li{
	
}

#services .jumbotron-2 {
	/*background-color: rgb(220, 53, 69) !important;*/
	width:100%;
	/*height: 150px;*/
	position: relative; 
	/*top: -5.00em;*/
	

}

.jumbotron-3 h1{
	margin-left: 1.00em;
	position: relative;
	
	color: rgb(40, 167, 69);
	font-weight: bolder;
	text-shadow: 3px 1px 0px black;
}

.jumbotron-3 {
	background-color: #F0F0F0;
	width: 100%;
	/*height: 150px;*/
	position: relative;
	

/*	top: -7.50em;*/
}

#home .home-title-1{
	width: 100%;
	height: 175px;
	background-color: rgb(0, 105, 217);
	color: black;

	text-align: center;
    border-bottom: 3px black solid;
/*	border-top: solid 7px rgb(0, 123, 255);
	border-bottom: solid 10px rgb(0, 123, 255);*/
}

#home .home-title-1 h1{
	color: aliceblue;
	text-shadow: 5px 1px black;
	font-weight: bold;
	font-size: 4.00em;
	padding-top: 0.50em;
}







#services .jumbotron-1 ul.full-stack-list-2 li{

	
	list-style-type: none;
	color: black;
	/*font-weight: bolder;*/
}

#services .jumbotron-1 ul.full-stack-list-2{
	text-align: left;
	/*margin-top: 3.00em;*/

}

.full-stack-list li{
	list-style-type: none;
	padding-left: 2.00em;

}

.jumbotron-1 p {
	
	padding-top: 1.00em;
	font-size: 1.00em;
	margin-left: 3.00em;
	color: black;

}


.full-stack-items .col-sm-1{
	padding-left: 1.00em;
}

.full-stack-items{
	padding-left: 2.00em;
	padding-bottom: 2.00em;
}

#about {
	margin-top: -4.00em;
}

.jumbotron-fluid {
	/*border-bottom: solid 10px blue; */
  /* background-color: rgb(0, 105, 217) !important;*/
  background-color: #E0E0E0 !important;
}

ul.full-stack-list-2 .lead{
	margin-bottom:1.00em !important;
}

#services .jumbotron-1 .card .card-text img{
	margin:1.00em;
}

#services .jumbotron-2 .card .card-text img{
	margin:1.00em;
	margin-left: 2.00em;

}

#services .full-stack-applications{
	width: 100%;
}

#services .front-end-web-development {
	width: 100%;
	height: 100px;
	/* background-color: rgb(220, 53, 69); */
	text-align: center;
	margin-top: -2.00em;
	text-shadow: 1px 3px black;
}

#services .front-end-web-development h1{
	color: white;
	font-weight: bolder;
	padding-top: 0.75em;
	padding-bottom: 0.50em;
	font-size: 2.00em;
	margin-left: 2.00em;
	font-style: italic;

}

#services .user-interface{
	width: 100%;
	height: 100px;
	/* background-color: rgb(0, 105, 217); */
	text-align: center;
	margin-top: -2.00em;
	
}

#services .user-interface h1{
	color: white;
	font-weight: bolder;
	padding-top: 0.75em;
	padding-bottom: 0.50em;
	font-size: 2.00em;
	margin-left: 2.00em;
	text-shadow: 1px 3px black;
	font-style: italic;

}

#services .jumbotron-1 h1{
	text-align: center;
	font-weight: bold;
	color: white;
	font-size: 2.50em;

}

#services .full-stack-image-list li{
	list-style-type: none;
	padding: 1.00em;
	display: inline-block;
	
	
	
}

#services .full-stack-image-list {
	display: inline-block;
	height: 200px;
}


#services .front-end-image-list li{
	list-style-type: none;
	display: inline;
;


}

#services .front-end-image-list li img{
   padding: 0.50em;
}

#services .front-end-image-list {
	display: inline;


}

#contact .btn-primary a{
	color: white;
}

#contact ul{
	display: inline;
}

#contact ul li.lead{
	display: inline-block;
	padding-left: 1.50em;
}


#contact ul.seek-positions li{
	;
	font-size: 1.00em;
	list-style-type: square;
}

#contact{
	margin-top: -3.00em;


}

#portfolio img {
	margin-top: 3.00em;
	margin-bottom: 3.00em;
}

#work li.lead{
	font-size: 1.00em;
	line-height: 2.00em;
}

#work h3{
	font-weight: bold;
}

#work{
	margin-top: -3.00em;
}

#portfolio {
	margin-top: -3.00em;
}

#portfolio a{
	color: rgb(33, 37, 41);
}

#portfolio a:hover{
	color: #007bff;
	text-decoration:none;
}
#footer{
	height: 250px;
	width: 100%;
	background-color: rgb(0, 105, 217); !important;
	margin-top: -3.00em;
}

#footer p{
	color: white;
	margin: 1.00em;
	padding-top: 3.00em;
	
}

#footer i {
	color: white;
	font-size: 3.00em;
	padding-left: 1.00em;
	outline: none;
}

i.fa-camera-retro{
	color: white;
}
/*
@media only screen and (min-width: 414px) and(max-width: 736px){
	#hero-section img{
		position: relative;
		top:-1.00em;
	}
}*/

@media only screen and (min-width: 319px) and (max-width: 812px){
	#hero-section {
		position: relative;
		top: -2.00em;
		height: 390px;
	}

	#hero-section .hero-image {
		position: relative; 
		top: -3.00em;
		background-size: 325%;
	
	}

	#services .full-stack-web-applications h1 {
		font-size: 1.50em;
	}

	#services .full-stack-web-applications {
		text-align: center;
	}

	#services .front-end-web-development h1 {
		font-size: 1.50em;
	}

	#services .user-interface h1 {
		font-size: 1.50em;
	}

	#home .home-title-1 h1{
		font-size: 2.00em;
		text-shadow: 0 1px 2px black;
		top: 1.50em;
		left: 0; 
		position: relative;
		color: white;
	}

	#home .home-title-1 sub{
		position: relative;
		top: 3.25em;
	}
}

